.structural-biology {
    width: 480px;
    margin-top: 43px;
    margin-left: 13px;
    background-image: url(../../images/main-body/Bitmap.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 79.35px 0;

    @include e(top-content) {
        margin: 0;
    }

    h2 {
        margin-top: 21px;
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: $text-color--black;
    }

    .fullscreen {
        width: fit-content;
        margin-top: 16.41px;
        margin-left: 244px;
        align-self: center;
    }

    .more {
        width: fit-content;
        margin-left: 24.4px;
        margin-right: 16px;
        align-self: center;
        margin-top: 10.85px;
    }
}

.structural-btn {
    margin-top: 17px;
}

.btn__structural {
    width: 59px;
    padding-left: 7.5px;
    padding-right: 6px;
    margin-bottom: 4px;

    h3 {
        float: left;
        width: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        margin-top: 5px;

        color: $plantation;
    }

    img {
        float: right;
        width: fit-content;
        margin-top: 4px;
        margin-bottom: 4px;
        text-align: right;
    }
}

.structural-biology__footer {
    margin-left: 3px;
    margin-top: 258px;
    display: flex;
    justify-content: space-between;
}



.structural-biology__footer-content {
    display: flex;

    .structural-biology__label {
        width: fit-content;
        margin-left: 9px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        color: $indicator__text-color;
    }
}