.notification-table {
    padding-bottom: 24px;

    .notification-table--col-1 {
        width: 300px;

    }

    .notification-table--col-2 {
        width: 160px;
    }

    .notification-table--col-3 {
        width: 160px;
    }

    .notification-table--col-4 {
        width: 160px;
    }

    .notification-table__head {
        padding-top: 30px;
        padding-bottom: 8px;
        align-items: center;

        .value {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;

            color: $dove-gray;
        }
    }

    .notification-table--row {
        background: $primary-color;
        box-shadow: 0px -1px 0px $gallery;
        margin-left: 20px;
        margin-right: 20px;

        .value {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $plantation;


        }

        .notification-table--col-1 {
            margin-top: 14px;
            padding-left: 8px;
            margin-bottom: 14px;
        }

        .checked {
            background: $alabaster;
        }

        .notification-table__cell {

            align-self: center;
            width: 18px;
            height: 14px;
            margin-left: 54px;
            background: url(../../images/notification/Circle.png);
            background-repeat: no-repeat;
        }

        .cell--checked {
            background: url(../../images/notification/ic_check_24px.png);
            background-repeat: no-repeat;

        }



    }
}

.add-notification {
    margin-left: 745px;
}