$font-family-roboto: "Roboto",
sans-serif;


$font-family--default: $font-family-roboto;

$white: #ffffff;
$black: #000000;
$gallery:#EEEEEE;
$alabaster:#FAFAFA;
$alto:#E0E0E0;
$gray: #c7c7c7;
$dusty-gray:#9E9D9D;
$rolling-ston:#707478;
$oslo-gray:#80858B;
$red: #d24d57;
$blue: #3a539b;
$light-blue: #009bde;
$yellow: #f7ca18;
$green: #36d7b7;
$mercury:#E5E5E5;
$Jacksons-Purple:#1A237E;
$outer-space:#263238;
$Silver-Chalice:#9E9E9E;
$Fern:#66BB6A;
$dove-gray:#616161;
$mine-shaft:#212121;
$blue-ribbion:#304FFE;
$coral-red:#ff3642;
$catsill-white:#EFF2F7;
$heather:#C0CCDA;
$plantation:#223741;
$gull-gray:#9FAAB7;
$electric-violet:#6236FF;
$blaze-orange:#FA6400;
$turquoise:#44D7B6;
$silver:#BDBDBD;
$wave-orange:#EAA800;
$blaze-orange:#FA6400;
$coral: #FF7849;
$french-rose:#EC407A;
$selective-yellow:#F7B500;
$french-pass:#B9DDFC;
$puerto-rico:#4BC4C2;
$amaranth:#E91E62;

$pastel-green:#63D9A0;
$royal-heath:#A3296E;
$doger-blue:#2196F3;

$shamrock:#2FCD8B;
$azure-radiance:#0091FF;

$killarney:#397049;





$primary-color: $white;
$body-color:$mercury;

$text-color--black:$black;

$text-color--ic-lunch:$blue-ribbion;
$text-color--pubmed:$blue-ribbion;

$background-color--header:$Jacksons-Purple;
$background-color--h2:$black;

$background-color--side-nav:$outer-space;

$short-overview__label--text-color:$Silver-Chalice;

$short-overview__body-label--text-color:$dove-gray;
$short-overview__body-placeholder--text-color:$mine-shaft;

$side-nav__img--border:$Fern;
$btn-border-color:$catsill-white;
$btn-rect-border-color:$heather;

$indicator__text-color:$gull-gray;



//Heading font size vairables
$heading-line-height: 28px !default;
$head1-font-size: 26px !default;
$head2-font-size: $head1-font-size - 4px !default;
$head3-font-size: $head1-font-size - 8px !default;



//Breakpoints
$sm-device: 425px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1440px;