.target-form__card {
    margin-left: 26px;
    margin-top: 26px;
    padding: 0;
    width: fit-content;

    .left-card {
        width: 262px;
        // padding-left: 24px;

        background: $alabaster;
        box-shadow: 1px 0px 0px $alto;
        border-radius: 3px 0px 3px 3px;
    }

    .right-card {
        width: 488px;
        background: $primary-color;
        box-shadow: 0px 2px 6px rgba($text-color--black, 0.102874);
        border-radius: 3px;
    }

    .form-card__heading {
        padding-left: 24px;

        justify-content: space-between;
        margin-top: 20px;

        h2 {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 20px;

            color: $text-color--black;

        }

        .add-arrange-form {
            margin-left: 58px;
        }

        .filter {
            height: 24px;
        }

        .add {
            width: 24px;
            height: 24px;
            margin-left: 20px;
        }

    }

    .left-card {
        .left-card__menu {
            background: $alabaster;
            border-top: 1px solid $alto;
            border-bottom: 1px solid $alto;

        }

        .menu-items {
            padding-top: 14px;
            padding-left: 24px;
            padding-bottom: 14px;
            justify-content: space-around;


            h3 {
                width: 182px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;

                color: $dusty-gray;

            }

            .info-icon {
                height: 18px;
                width: 18px;
                background: url(../../images/target-form/arrow_drop_down_copy_2.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

            }

            .info-icon--active {
                background: url(../../images/target-form/ic_info_24pxA.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .arrow-icon {
                height: 10px;
                width: 10px;
                background: url(../../images/target-form/ic_arrow_drop_down_24px.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                align-self: center;
            }

            .arrow-icon--active {
                background: url(../../images/target-form/ic_arrow_drop_down_24pxA.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                align-self: center;
            }
        }

        .menu-items--active {
            background: $primary-color;

            h3 {
                color: $french-rose;
            }
        }

        .menu-details {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 4px;
            width: 100%;

            .active-arrow-icon {
                float: left;
                width: 24px;
                height: 24px;

                img {
                    object-fit: cover;
                }
            }

            .active-arrow-value {
                float: left;
                margin-left: 12px;

                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;

                color: $text-color--black;
            }

        }

        .menu-details--first {
            margin-top: 20px;
        }

        .menu-details--last {
            margin-bottom: 6px;
        }
    }

    .right-card {
        padding-bottom: 42px;

        .target-form__right-card-heading {
            margin-left: 30px;
            margin-top: 24px;
            // justify-content: space-between;


            h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: $plantation;

            }

            .view-qc-info {
                margin-left: 180px;

                .lunchicon {
                    width: 18px;
                    height: 18px;

                    img {
                        object-fit: cover;
                        align-self: center;
                    }
                }

                span {
                    align-self: center;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.4px;

                    color: $blue-ribbion;
                }
            }

        }

        .right-card__bar {
            position: relative;

            .value-bar {
                position: absolute;
                margin-left: 30px;
                margin-top: 24px;
                width: 401px;
                height: 8px;
                background: $catsill-white;
                border-radius: 13px;
            }

            .yellow-bar {
                position: absolute;
                width: 84px;
                height: 8px;
                left: 36px;
                top: 24px;

                background: $selective-yellow;
                border-radius: 13px;
            }

            .blue-bar {
                position: absolute;
                width: 214px;
                height: 8px;
                left: 134px;
                top: 24px;

                background: $electric-violet;
                border-radius: 13px;
            }
        }

        .review-circular-indicator {
            margin-left: 30px;
            margin-top: 54px;

            .circular-indicator--selective-yellow {
                background: $selective-yellow;
            }

            .circular-indicator--electric-violet {
                background: $electric-violet;
                margin-left: 40px;
            }

            .structural-biology__label {
                color: $text-color--black;
                font-weight: normal;

            }


        }

        .rectangle {
            width: 442px;
            margin-left: 30px;
            margin-top: 18px;
            background-color: $silver;
        }


    }

    .review-form__short-overview {
        margin-top: 20px;
        margin-left: 30px;

        .overview-heading {
            max-width: 194px;

            h2 {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;
                color: $dove-gray;
            }




        }

        .overview-heading-btn {

            margin-top: 5px;
            background: $french-pass;

            span {
                color: $text-color--black;
                align-self: center;
            }

            .image {
                align-self: center;
                margin-left: 10px;
                margin-right: 8px;
            }
        }

        .overview-heading-btn--ml {
            margin-left: 8px;
        }



        .rectangle {
            margin-left: 0;
            width: 442px;
            background-color: $silver;
            margin-top: 6px;
        }
    }

    .review-form__short-overview--tags {


        .overview-heading-btn {
            background: $puerto-rico;

            span {
                color: $primary-color;
            }
        }

        .addicon {
            height: 20px;
            width: 20px;

            img {
                margin-left: 320px;
                vertical-align: middle;
            }
        }
    }

    .review-form__comments {
        margin-top: 20px;
        margin-left: 30px;

        h3 {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;

            color: $text-color--black;
            opacity: 0.4;
        }

        .comment {
            .profile {
                margin-top: 7px;

                .profile__image {
                    height: 38px;
                    width: 38px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                    }
                }

                .profile__name {
                    flex-direction: column;
                    margin-left: 10px;

                    .name {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;

                        color: $text-color--black
                    }

                    .description {
                        width: 392px;
                        margin-top: 8px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        color: $rolling-ston;

                    }
                }
            }


        }

        .rectangle {
            width: 392px;
            margin-top: 10px;
        }

        .comment--last {
            margin-top: 10px;
        }
    }

    .review-form__location {
        margin-top: 32px;
        margin-left: 26px;

        .location__header {
            padding-top: 12px;
            padding-bottom: 14px;
            width: 441px;
            background: $catsill-white;
            box-shadow: 0px -1px 0px $catsill-white, 0px 1px 0px $catsill-white;

            .header__label {
                width: 54px;
                align-self: center;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;

                color: $gull-gray;

            }

            .label--1 {
                margin-left: 16px;
            }

            .label--2 {
                margin-left: 236px;
            }
        }

        .location__body {
            margin-right: 20px;
            padding-top: 14px;
            padding-bottom: 18px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;

            background: $primary-color;
            box-shadow: inset 0px -1px 0px $catsill-white;

            color: $plantation;

        }

        .location__body--1 {
            margin-left: 16px;
            width: 289px;
        }


    }

    .right-card__footer {
        margin-top: 20px;
        margin-left: 26px;

        .short-overview {
            width: 200px;

            .short-overview__icon {
                margin-top: 34px;
            }

            .short-overview__label {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;

                letter-spacing: 0.4px;
                color: $dove-gray;
            }

            .short-overview__placeholder {
                margin-top: 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;

                letter-spacing: 0.25px;
                color: $mine-shaft;
            }

            .rectangle {
                margin-top: 6px;
                width: 204px;
                margin-left: 0px;

            }


        }

        .right-card__footer--btn {

            margin-top: 28px;

            .rect-btn {
                margin-left: 8px;


            }

            .blaze-orange--btn {
                background: $blaze-orange;

                .value {
                    margin-left: 26px;
                    margin-right: 26px;
                }
            }

            .french-rose--btn {
                background: $french-rose;

                img {

                    margin-left: 18px;
                    vertical-align: middle;
                }

                .value {
                    margin-left: 8px;
                    margin-right: 18px;
                }
            }

            .blue-ribbion--btn {
                background: $blue-ribbion;

                .value {
                    margin-left: 18px;
                    margin-right: 18px;
                }
            }

        }

    }






}