.target-form__mainbody {
    flex-direction: column;
    flex-wrap: wrap;
}

.target-form__heading {
    margin-top: 26px;
    margin-left: 26px;
    width: fit-content;

    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: $text-color--black;
    }
}