.add-module__body {
    padding-left: 24px;
    padding-top: 38px;

    .add-module__label {

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        letter-spacing: 0.1px;
        color: #BDBDBD;
    }

    .rectangle {
        background: #9E9E9E;
        width: 362px;
        margin-top: 18px;
    }
}