.heading__cell--1 {
    width: 70px;
    text-align: right;
    justify-content: space-between;

}

.heading__cell--2 {
    width: 50px;
}

.heading__cell--3 {
    width: 208px;

}

.heading__cell--4 {
    width: 72px;
}

.heading__cell--5 {
    width: 192px;
}

.heading__cell--6 {
    width: 504px;
}

.heading__cell--7 {
    width: 504px;
}