// .margin-top-8 {
//     margin-top: 8px !important;
// }

// .margin-top-9 {
//     margin-top: 9px !important;
// }
.mt-2 {
    margin-top: 2px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-8 {
    margin-top: 8px;
}

.justify-space-btwn {
    justify-content: space-between;
}

.ml-4 {
    margin-left: 4px;
}

.mt-24 {
    margin-top: 24px;
}

.ml-32 {
    margin-left: 32px;
}

.ml-36 {
    margin-left: 36px;
}

.ml-0 {
    margin-left: 0px;
}